.custom-logo {
  .site-meta-headline {
    text-align: center;
  }

  .site-title {
    color: #121212;
    margin: 10px auto 0;

    a {
      border: 0;
    }
  }
}

.custom-logo-image {
  background: #121212;
  margin: 0 auto;
  max-width: 150px;
  padding: auto;
}

.brand {
  background: #121212;
  border-radius: 7px;

}
