.header-inner, .main-inner, .footer-inner {
  +mobile() {
    width: initial;
  }
}

.header-inner {
  padding-top: 35px;

  +mobile() {
    padding-top: 20px;
  }
}

.main-inner {
  padding-bottom: auto; 
}

.content {
  padding-top: 30px;

  +mobile() {
    padding-top: 35px;
  }
}

embed {
  display: block;
  margin: 0 auto 25px auto;
}
